.headings{
    
    color: #320007;
    text-align: end;
    margin-top: -15vh;
    margin-right: 6vw;
    display: block;
    
      
   
}

h2{

    font-family: monospace;
    font-size: 3em;
    font-style: bold;
    margin-bottom: 0;

}

h1{
    
    margin-top: 0;
    font-family: sans-serif;
    font-size: 4.8em;
    
}

.poem1{
    margin-top: 25px;
    text-align: center;
    font-family: monospace;
    font-size: 1.115em;
    
    
}

.poem2{
    margin-top: 25px;
    text-align: justify;
    font-family: monospace;
    font-size: 1.115em;
    
    
}

.poem3{
    margin-top: 25px;
    text-align: justify;
    font-family: monospace;
    font-size: 1.115em;

}

.subheading{
    font-family: monospace;
    font-size: 2em;
    margin-bottom: 0;
    
}

body{
    
    background-size: contain;
    background: url(./images/p2.jpg);
    

}